<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->

<!--<suite name="Suite1" verbose="1" >-->
<!--    <test name="Nopackage" >-->
<!--        <classes>-->
<!--            <class name="LandTests" >-->
<!--            <methods>-->
<!--                <include name="newAd" />-->
<!--                <include name="deleteAdTest" />-->
<!--            </methods>-->
<!--            </class>-->
<!--            <class name="HouseTests" >-->
<!--                <methods>-->
<!--                    <exclude name="deleteAdTest" />-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->


<!--    <test name="positiveTests">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="init" />-->
<!--                <include name="positive" />-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="SetUp"/>-->
<!--            <class name="LandTests"/>-->
<!--            <class name="HouseTests"/>-->
<!--            <class name="RealEstateTests"/>-->
<!--            <class name="PremisesTests"/>-->
<!--        </classes>-->
<!--    </test>-->

<!-- <test name="positiveTest"/>-->
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="init"/>-->

<!--        </run>-->
<!--    </groups>-->

<!--</suite>-->