<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
<!--            <class name="RealEstateTests" />-->
            <class name="LandTests">
            <methods>
                <include name="newAd" />
                <include name="deleteAdTest" />
            </methods>
            </class>
        </classes>
    </test>
</suite>
